# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-identity
semantic-kernel
dotenv
DateTime
openai==1.70.0
httpx==0.27.2
fabric-data-agent-sdk